#chef_holder {
/* 	display:inline-block;
	width: 100%; 
	margin-top: .5em;
	position:relative; */
	background-color:lightgrey;
}

table {
	display: block;
	width: 100%;
	border-collapse: collapse;
	overflow-y: auto;
}
thead {
	font-family: sans-serif;
	font-size: 100%;
	color: blanchedalmond;
}
table th {
	background-color: activecaption;
	font-family: cursive;
	font-weight: bold;
	border: solid 1px #D4D4D3;
}

.gridimg2 {
	width:8em;
	float:right;
}

.card_header{
	display:block;
	position:absolute;
	top: 1em;
	left: 1em;
	font-size:1.5em;
	font-weight:bold
}