label {
	display:block;
	font-size: .9em;
	padding-top: .5em;
}

.account {
	width:16em;
}

.login {
	/* float:right; */
}

.page_content_holder{
	position:relative;
	/* height:100%;
	width:100%; */
	/* background: green; */
}
 .registration_section{
	position: absolute; 
	top: -9em; 
	right: 6em; 
	min-width: 4em;
	max-height:30em;
	padding:.5em;
	background: #B8CFE6;
	z-index:3;
}

.public_event_section{
	padding:.5em;
        margin-top:-14em;
	max-width: 40em;
        margin-left:2em;
        min-width:30em;
        min-height: 38em;
	margin-bottom: 1em;
/* 	background: lightblue; */

}

 .information_section{
	padding:.5em;
	margin-right: 10em;
        margin-top: 2em;
        margin-left:42em;
        display:block;
         width: 10em;
        height: 5em;
        background:white;
        border-image:  url('img_style/page_bg.jpg');
       
        
/* 	background: yellow; */
}

#login_form{
	margin:0em;
	padding:0em;
	border:0em;
	position: absolute;
	right: 0em;
	top: 0em;
	min-width:33em;
}

#login_form ul {
	list-style-position:outside; 
	list-style-type: none;
}

#login_form li {
	float:left;
	padding-left:10px;
}

#login_form label {
	display:inline;
}

#login_form div {
	display:block;
}