#profile_picture {
	height:9em;
/* 	float:right; */
}

.event_picture {
	height:9em;
}

#event_holder {
	display:inline-block;
	margin-top: .5em;
}

table {
	width: 50%;
	line-height: 2em;
}

table td {
	vertical-align: text-top;
}

input, textarea {
	width:99%;
	height:99%
}