body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#B8CFE6;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}

p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}

/* Header styles */
#header {
	clear:both;
	float:center;
	width:100%;
}
#header {
	border-bottom:1px solid #000;
        margin-bottom: 3em;
        margin-top: 4em;
}
#header h1 {
    margin-left: 12em;
    margin-top: 1em;
    color: brown;
    font-size: 40px;
}
#header p,
#header h2 {
	padding:.4em 15px 0 10px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 10px 10px 20px;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
        font-size: 25px;
	margin:8px 8px 8px 70px;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:8px 8px 8px 50px;
	padding:3px 8px;
	text-align:center;
	background:#eee;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#fff;
}

#header ul li .active,
#header ul li .active:hover {
	color:#fff;
	background:#000;
}

#header ul li a span {
	display:block;
}

/* column container */
.content {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
        background:#eee;
}
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
	
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}

.leftmenu .colright{    
    right: 30%
}
/* 2 Column  settings */

.leftmenu .col1 {
	width:12%;
        left: 31%;
        margin-top: 15px;
}
 .leftmenu .col2 {
      width:77%;
      left:31%;
       margin-left: 15px;
       padding:1em;
       float: left;
       position:relative;
       top: 0px;  
       height: auto;
    
}
/*.leftmenu .col3 {
      width:12%;
      left:30%;
       margin: 0;
       padding:1em;
       float: left;
       position:relative;
       top: 0px;
       border:1px solid black;
     margin-top: 15px;
}*/

.leftmenu #carousal {
    
    border: 2px solid black;
    display:bloack;
    height: 200px;
    width: 95%;
    border-radius: 10px;
}
/*.leftmenu .card {   
    
    position: relative;
    float:left;    
    width: 500px;
    height: 400px; 
     margin: 0 .5em .5em 0;

     padding:.5em;    
} */
.flipper { position: relative; cursor:pointer; }
.transform .flipper>*{
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.flipper>* {
	position: absolute;
	width: 100%;
	height: 100%;
}

.no-transform .flipper>.back{ display:inline}
.no-transform .flipper>.front{ display:none}
.transform .flipper>.back
{
	-moz-transform: perspective(800px) rotateY(0);
	-webkit-transform: perspective(800px) rotateY(0);
	transform: perspective(800px) rotateY(0);
}
.transform .flipper>.front {
	-moz-transform: perspective(800px) rotateY(-180deg);
	-webkit-transform: perspective(800px) rotateY(-180deg);
	transform: perspective(800px) rotateY(-180deg);
}

.transform .flipper.flipped>.back {
	-moz-transform: perspective(800px) rotateY(180deg);
	-webkit-transform: perspective(800px) rotateY(180deg);
	transform: perspective(800px) rotateY(180deg);
}

.transform .flipper.flipped>.front {
	-moz-transform: perspective(800px) rotateY(0deg);
	-webkit-transform: perspective(800px) rotateY(0deg);
	transform: perspective(800px) rotateY(0deg);
}

.flipper.text>* {
	-webkit-transition: 1s .5s ease;
	-moz-transition: 1s .5s ease;
	transition: 1s .5s ease;
	color: white;
	background: black;
	border-radius:10px;
}
.card {
	position:relative;
	float:left;
	padding:0px;
	margin:1em;
	width:35em;
	height:30em;
	background-position: top right;
	border-radius: 25px;
	
}
.card >div {
 	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 2em;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-ms-border-radius: 2em;
	-o-border-radius: 2em;
}

.card .front {
 	background:#FFF;
	border:1px solid brown;
	border-bottom:3px solid blue;
}
.card .back {
 	background:#FFF;
	border:1px solid brown;
	border-bottom:3px solid blue;
}
.card h1 {
    margin:0px;
    padding:10px;
    padding-bottom:0px;
}



/*left column css */
#left_column {
     border: 1px solid black; 
     background-color: #eee;
     height: 400px;
     border-radius: 10px;
}
#left_column .category_heading {
    border: 1px solid blue; 
    margin: 1em ;
}
#left_column category_heading .categories {
    width: 95%;
    padding: 1em;
    
}
.categories ul {
    display: block;   
    list-style: none; 
    padding: .5em;
    margin-left: 2em;
    padding-bottom: 1em;   
    
}
.categories ul li {
    list-style: none;
    font-size: 16px;
    display: block;
    padding-bottom: 1em;
}

.categories ul li a {
    display: block;
    border: activeborder;
    background-color: bisque;
}

#left_column .ad_search_heading {
    border: 1px solid brown; 
     margin: 1em ;
}
#left_column ad_search_heading .search_option {
    width: 95%;
    padding: 1em;    
}

/*right column css

div.ad_heading {
	border:1px solid #000;
	margin-top:10px;
	width:95%;
	background:#000;
	color:#fff;
}

.ad_square {
	width:95%;
	border: 1px solid #000;
}

.ad_square img {
    width:90%; /* you can use % 
    height: auto;
	padding-left:5%;
	padding-right:5%;
}

.main_entry {
	width:96%;
	height:200px;
	margin:2%;
	border:2px solid #000;
	margin-bottom:3%;
	margin-top:3%;
}
*/
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
#footer p {
	padding:10px;
	margin-bottom: 0px;
}

/* register section css */

#register_body {
    background-color: #CCE6FF;  
    
}

.login_event_section {
     
    display: block;
    background-color: #B8CFE6;
    float:left;
    
    
 }
 #eventcol
 {
     margin-top: 3em;
    margin-left: 15em;
    border: 1px solid #121517;
    width:350px;
    height: 300px;
    margin-bottom: 1em;
   
 }
 #infocol { 
    positon:absolute;
    margin-top: 30em;
    margin-left: 0px;
    background-color: #B8CFE6;
    border: 1px solid #121517;
    width: 500px;
    height: 170px;
 
 }
 #logincol {
     margin-top: 2em;
    
     margin-left: 60em;
    margin-right:1px;
    border:1px solid gray;
    width: 500px;
    height: 200px;
    margin-bottom: 1em;
 }
 /* register section css*/
 #registercol {
    position:absolute;    
    margin-top: 19em;  
    margin-left: 60em;
    margin-right:2px;
    background-color: #B8CFE6;
    border:1px solid gray;
    width: 500px;
    height: auto;
 }
 #registercol #register_form ul{
     list-style: none;
 }
 #registercol #register_form ul li {
     font-family: sans-serif;
     font-size: 100%;
     margin-top:.5em;
     margin-left: 10px;
 }
 #register_form input {
      height: 20px;
      float:right;
     width: 300px;
     padding: 5px 8px;
     margin-left: 15px;
     margin-right: 5px;
 }
 #login_form label,
  #register_form label {     
    padding: 5px;
    display: inline-block;
    font-size: 110%;
    font-family:  serif;
    font-style: italic;
    font-weight:  bold;
   color:  forestgreen;      
}
#login_form #login,
 #register_form  button {    
     background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#login_form #login,
 #register_form button :hover {
    background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;    
}
/* login section css */
#logincol #login_form ul{
    list-style: none;
    padding: .5em;
        
}
#login_form ul li {
    font-family: sans-serif;
     font-size: 100%;
     margin-top:.5em;
     margin-left: 1px;
}
#login_form input {
     height: 20px;
      float:right;
     width: 300px;
     margin-right: 5px;
}
/*public event table css*/
table {
     display:  table;
     width:  100%;
      border-collapse:  collapse;

}
thead {
    font-family:  sans-serif;
    font-size: 100%;
    color: blanchedalmond;
    
}
table th {
    
     background-color:  activecaption;
     width: auto;
      margin-right: 2px;
     text-align:  left;
     font-family: cursive;
     font-weight: bold;
     font-size: 12px;
     border: solid 1px  #D4D4D3  ;


}
table tr {
     border:  darkblue thin inset;
     border-right: solid;
     border: solid 1px  #D4D4D3  ;
}
.hover {
  background-color: #3F78CC;
}

table td {
    text-align:  center;
    padding-bottom: .5em;
    border-bottom:  thin black dotted;
     border-bottom-left-radius:  1px;
    font-family: sans-serif;
     font-weight: normal;
     font-size: 14px;
     border: solid 1px #D4D4D3;
}
table td last {
   border-bottom: none;
}


.error
{
	margin:auto;
	width:40%;
	font-size: 15px;
	color: #CC0000;
	margin-top: 30px;
}

.success
{
	margin:auto;
	width:23%;
	font-size: 13px;
	color: #0000CC;
	margin-top: 30px;
}


#chef_holder {
	display:inline-block;
	width: 100%; 
	background-color:lightgrey;
	position:relative;
	margin-top: .5em;
}


/* Flipping functionality modified from examples here:
http://forum.jquery.com/topic/jquery-flippy-plugin-reverse-issue
http://home.jejaju.com/play/flipCards/simple */
.flipper { position: relative;}

.transform .flipper>*{
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.flipper>* {
	position: absolute;
	width: 100%;
	height: 100%;
}

.no-transform .flipper>.back{ display:inline}
.no-transform .flipper>.front{ display:none}
.transform .flipper>.back
{
	-moz-transform: perspective(800px) rotateY(0);
	-webkit-transform: perspective(800px) rotateY(0);
	transform: perspective(800px) rotateY(0);
}
.transform .flipper>.front {
	-moz-transform: perspective(800px) rotateY(-180deg);
	-webkit-transform: perspective(800px) rotateY(-180deg);
	transform: perspective(800px) rotateY(-180deg);
}

.transform .flipper.flipped>.back {
	-moz-transform: perspective(800px) rotateY(180deg);
	-webkit-transform: perspective(800px) rotateY(180deg);
	transform: perspective(800px) rotateY(180deg);
}

.transform .flipper.flipped>.front {
	-moz-transform: perspective(800px) rotateY(0deg);
	-webkit-transform: perspective(800px) rotateY(0deg);
	transform: perspective(800px) rotateY(0deg);
}

.flipper.text>* {
	-webkit-transition: 1s .5s ease;
	-moz-transition: 1s .5s ease;
	transition: 1s .5s ease;
	color: white;
	background: black;
	border-radius:10px;
}
.card {
	display:block;
	position:relative;
	float:left;
	padding:0px;
	margin:2em;
	width:35em;
	height:30em;
	/* added overflow auto until I figure out how we want to size these cards */
	overflow:auto;
	background-position: top right;
	border-radius: 25px;
}
.card >div {
 	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 2em;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-ms-border-radius: 2em;
	-o-border-radius: 2em;
}

.card .front {
 	background:#FFF;
	border:1px solid brown;
	border-bottom:3px solid blue;
}
.card .back {
 	background:#FFF;
	border:1px solid brown;
	border-bottom:3px solid blue;
}
